<html>
    <head>
        <link href="/assets/css/index.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>EverTag</h1>
            <div id="search">
                <div class="field">
                    <input type="text" placeholder="Type a hash tag....">
                </div>
            </div>
        </header>
        <main>
            <section>
                <div class="holder">
                    <div id="taglist"></div>
                </div>
            </section>
        </main>
        <footer></footer>
        <script src="/assets/js/index.js"></script>
    </body>
</html>